:root {
  --color-logo: #4d5ae5;
  --color-animation: #404bbf;
  --color-bg: #2e2f42;
  --color-green: #31d0aa;
  --color-main: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-footer: #f4f4fd;
  --color-logo-span: #2e2f42;
  --color-text: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-main);
  background-color: var(--color-white);
}

.navigation .link {
  text-decoration: none;
}

ul .list {
  list-style: none;
}

.navigation .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-logo);
}

.navigation .logo .studio {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: var(--color-logo-span);
}

.main-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.main-nav .link {
  text-decoration: none;
}

.main-nav:hover {
  color: var(--color-animation);
}

.main-nav:focus {
  color: var(--color-animation);
}

.address {
  font-style: normal;
}

.address .link {
  text-decoration: none;
}

.address .addresses {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  color: var(--color-main);
}

.addresses:hover {
  color: var(--color-animation);
}

.addresses:focus {
  color: var(--color-animation);
}

.solutions {
  background-color: var(--color-text);
}

.solutions .main-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--color-white);
}

.solutions .main-button {
  /** TEXT **/
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--color-white);

  /** BG **/
  background-color: var(--color-logo);
}

.solutions .main-button:hover {
  background-color: var(--color-animation);
}

.solutions .main-button:focus {
  background-color: var(--color-animation);
}

.about .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.about .description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-main);
}

.what-we-do .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-text);
}

.our-team {
  background: var(--color-footer);
}

.our-team .list {
  justify-content: center;
}

.our-team .workers {
  background-color: #ffffff;
}

.our-team .title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-text);
}

.our-team .title-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.our-team .description {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-main);
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-logo);
  background-color: var(--color-footer);
  cursor: pointer;
}

.btn:hover {
  color: var(--color-white);
  background-color: var(--color-animation);
}

.btn:focus {
  color: var(--color-white);
  background-color: var(--color-animation);
}

.portfolio-section .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.portfolio-section .description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-main);
}

.footer {
  background-color: var(--color-bg);
}

.footer a {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer .logo {
  font-weight: 800;
  color: var(--color-logo);
}

.footer .link {
  text-decoration: none;
}

.footer .logo .studio {
  letter-spacing: 1.1;
  text-transform: uppercase;
  color: var(--color-footer);
}

.footer .description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-footer);
}
