:root {
  --color-logo: #4d5ae5;
  --color-animation: #404bbf;
  --color-bg: #2e2f42;
  --color-green: #31d0aa;
  --color-main: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-footer: #f4f4fd;
  --color-logo-span: #2e2f42;
  --color-text: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
}
.navigation .link {
  text-decoration: none;
}

ul .list {
  list-style: none;
}

.link {
  text-decoration: none;
}
a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-main);
  background-color: var(--color-white);
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo span {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.header-navigation {
  text-decoration: none;
}
.header-menu list {
  list-style: none;
}

.header-menu-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.address {
  font-style: normal;
}
.header-address-link {
  text-decoration: none;
}
.header-address {
  position: absolute;
  width: 153px;
  height: 24px;
  left: 940px;
  top: 24px;
}
.header-address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.addresses:hover {
  color: var(--color-animation);
}

.addresses:focus {
  color: var(--color-animation);
}

.solutions {
  background-color: var(--color-text);
}

.solutions .main-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--color-white);
}

.solutions .main-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--color-white);

  background-color: var(--color-logo);
}

.solutions .main-button:hover {
  background-color: var(--color-animation);
}

.solutions .main-button:focus {
  background-color: var(--color-animation);
}

.about .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.about .description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-main);
}

.we-doing .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-text);
}

.teams {
  background: var(--color-footer);
}

.teams .list {
  justify-content: center;
}

.teams .personal {
  justify-content: center;
}

.teams .title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-text);
}

.teams .team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.teams .description {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-main);
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-logo);
  background-color: var(--color-footer);
  cursor: pointer;
}

.btn:hover {
  color: var(--color-white);
  background-color: var(--color-animation);
}

.btn:focus {
  color: var(--color-white);
  background-color: var(--color-animation);
}

.portfolio-section .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.portfolio-section .description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-main);
}

.footer {
  background-color: var(--color-bg);
}

.footer a {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer .logo {
  font-weight: 800;
  color: var(--color-logo);
}

.footer .link {
  text-decoration: none;
}

.footer .logo .studio {
  letter-spacing: 1.1;
  text-transform: uppercase;
  color: var(--color-footer);
}

.footer .description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-footer);
}
