:root {
  --first-text-color: #2e2f42;
  --second-text-color: #434455;
  --third-text-color: #ffffff;
  --fourth-text-color: #f4f4fd;
  --background-main-color: #ffffff;
  --background-second-color: #2e2f42;
  --background-third-color: #f4f4fd;
  --logo-first-color: #4d5ae5;
  --logo-second-color: #2e2f42;
  --logo-third-color: #f4f4fd;
  --bttn-background-color: #404bbf;
  --bttn-background-second-color: #f4f4fd;
  --bttn-first-color: #4d5ae5;
  --bttn-second-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  color: #434455;
  background: #ffffff;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

/*----- Home page -----*/

/* Header (Home page , Portfolio) */

.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-first-color);
}

.header-logo span {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-second-color);
}

.header-nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
}
.header-nav-link:is(:hover, :focus) {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.address-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.address-link:is(:hover, :focus) {
  color: #404bbf;
}

/* Main (Home page) */

.hero {
  background: var(--background-second-color);
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
}

.hero-button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--third-text-color);
  background: #4d5ae5;
}

.hero-button:is(:hover, :focus) {
  background: #404bbf;
}

.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--first-text-color);
}

.features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.products-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--first-text-color);
}

.team {
  background-color: #f4f4fd;
}

.team-list {
  background-color: #ffffff;
}

.team-item {
  background-color: #ffffff;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--first-text-color);
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

/* Footer (Home page , Portfolio) */

.footer {
  background: var(--background-second-color);
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-first-color);
}

.footer-logo span {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-third-color);
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--fourth-text-color);
}

/*----- Portfolio Page -----*/

/* Buttons filters */
.portfolio-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--bttn-first-color);
  background: var(--bttn-background-second-color);
}

.portfolio-button:is(:hover, :focus) {
  color: #ffffff;
  background-color: #404bbf;
}

/* Examples of projects */

.portfolio-projects-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
}

.portfolio-projects-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
